	.node rect {
	    cursor: move;
	}
	.link {
	    fill: none;
	    stroke: #000;
	    stroke-opacity: .2;
	}
	.link:hover {
	    stroke-opacity: .5;
	}
	*:not(h1) {
	    font: 18px Georgia; /* 顯字大小 */
	}
	.linkLabel {
	    z-index:10;
	}
